#text {
    margin-top: 500px;
}


.p {
    text-align: right;
    direction: rtl;
    padding-right: 5px;
    margin-right: 5px;
}

.p-flex-con {
    width: 90%;
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

    .p-flex-con > div {
        background-color: #fff;
        padding: 20px;
        font-size: 12px;
        margin-top: 80px;
        color: #000000;
        border-radius: 5px;
        direction: rtl;
        width: 100%;
        height: 300px;
        margin-right: 10px;
        line-height: 20px;
    }

.hvr-float > div {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.h5 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.amozesh {
    width: 60px;
    height: 60px;
    margin-right: 90px;
    margin-bottom: 5px;
}
